/**************************Profile*******************/
.profile-container{
  display: flex;
  height: 1000px;

 }
 .mid-profile{
  width: 100%;
 }
 .profile-header{
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
 }

.mid-profile .tab-section {
  display: none !important;
}

.mid-profile .tab-section.active-section {
  display: block !important;
}

 .centerHead{
    display: flex;
  flex-direction: column;
  gap: 5px;
 }


.centerHead h3{
  margin: 0;
}
.centerHead p{
  margin: 0;
}
 #num-posts{
  color: var(--text-secondary-color);
  font-size: 12px;
}


 #search-header{
font-size:larger;
color:var(--primary-color) ;
 }


.profile-images{
   position: relative; 
} 
#large-profile{
   width:100%;
    height:200px ;
   
   }
#small-profile{ 
  position: absolute; 
  width: 25%;
   border-radius: 50%;
    bottom:-60px ;
     left:20px ; 
     border: 4px solid white;
     }
     .centerHead{
      display: flex;
    gap: 10px;
     }
     .near{
      display: flex;
        align-items: center;     
      gap: 40px;
     }
 #btn-edit{
  position: absolute;
    right: 20px;
  bottom: -50px;
  border: 1px solid rgb(188, 184, 184);
  padding: 10px 20px;
  background-color:white;
  border-radius: 20px;
  white-space: nowrap;
   font-weight: bold;
   font-size: 15px;
 }
  #verified:hover
 ,#btn-edit:hover{
  background-color:  var(--border-color);
 transition: 0.2s ;
 }
 .profile-inform{
 
  margin-top: 80px;
  padding-left: 15px;
 }
  #verified{
   
   border: 1px solid rgb(188, 184, 184);
   background-color: white;
   border-radius: 20px;
   font-weight: bold;
   font-size: 14px;
   padding:2px 8px ;
  }
 .name-accont{
   display: flex;
   align-items: center;
    gap: 30px;
 }
 .follow-info{
  display: flex;
   gap: 15px;
 }
 .name-accont h3,
.name-accont p{
  margin: 0;
}

.profile-tabs ul{
   padding: 0 15px 15px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid var(--border-color);

}
.profile-tabs ul a{
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight:600;
  padding: 15px;
}
 .profile-tabs ul a:hover{
  background-color: var(--border-color);
 }
 #profile-1{
  width: 40px;
  height: 40px;
  border-radius: 50%;
 }

 /*.tab-content{
  padding-left:20px ;
  padding-right:20px ;
 }*/

 .name-follow p,b{
  margin: 0;
 }
 .whatInfoFollow{
  display: flex;
  gap: 10px;
 }
 
.who-follow {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#tap-post h3{
  padding: 10px 20px;
}

#btn-follow {
  background-color: #000000;
  color: var(--white-color);
  border-radius: 20px;
  padding: 3px 20px ;
  font-weight: bold;
}
