:root {
  /*Colors*/
  --primary-color : #000000; 
  --white-color :#fff ;
  --accent-color : #1D9BF0; /*links,buttons,follow*/
  --accent-hover-color : #E8F5FD;
  --text-primary-color : #E7E9EA; 
  --text-secondary-color : #71767B;
  --border-color: #e4eaec;  /*#2F3336;*/
  --color-main:rgb(77, 75, 75);
  /*Fonts*/
  --font-small: 13px;
  --font-normal: 15px;
  --font-large: 20px;
  --font-xlarge: 24px;
}

body {
  font-family: "Twitter Chirp", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--white-color);
  color: var(--primary-color);
  margin: 0;
  display: grid;
  grid-template-columns: 2fr 6fr 5fr;
  overflow-y: auto;   /* Scroll */
}

header {
  border-right: 1px solid var(--border-color);
  overflow-y: auto;
  min-width: 80px;
  /*padding: 20px;*/
}

/*main {
  /*display: grid;
  grid-template-columns: 250px 600px 350px; /* header | center | aside 
  gap: 20px;
  justify-content: center; /* يحافظ على التمركز لو الشاشة كبيرة 
  height: 100vh;
}*/

main {
  border-right: 1px solid var(--border-color);
  min-width: 0; /* يمنع البوست من كسر layout */
}

aside {
  /*overflow-y: auto;*/ 
  visibility: visible;
  padding-left: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
}

.search-section {
  background-color: var(--white-color);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 8px 0px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--border-color);
  padding: 10px 15px;
  border-radius: 25px;
  max-width: 313px;
}

.search-focus {
  border: 2px solid var(--accent-color);
}

.seach-box {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  position: absolute;
  top: 56px;
  background-color: var(--white-color);
  padding: 10px 25px;
  max-width: 270px;
}

.search-box-content {
  font-size: var(--font-normal);
  color: var(--text-secondary-color);
  height: 100px;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: var(--font-normal);
}

.aside-section {
  border: 1px solid var(--border-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  padding: 16px;
  max-width: 313px;
}

.aside-label {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
  width: 100%;
}

#side-label {
  font-size: var(--font-large);
  font-weight: bold;
  margin: 0px;
}

#offer {
  color: #007e50;
  background-color: #c2f1dc;
  padding: 4px 8px;
  border-radius: 8px;
  margin: 0px;
}

.btn-subscribe {
  background-color: var(--accent-color);
  border-style: none;
  color: var(--white-color);
  font-size: var(--font-normal);
  font-weight: bold;
  text-align: center;
  padding: 7px 15px;
  border-radius: 25px;
  transition: 0.3s;
  cursor: pointer;
}

.btn-subscribe:hover {
  opacity: 80%;
}
 
.aside-section p {
  margin: 0px;
  font-size: var(--font-normal);
}

.news {
  padding: 8px;
  transition: 0.3s;
  cursor: pointer;
}

.news:hover {
  background-color: var(--border-color);
}

.news-label {
  font-size: var(--font-normal);
  font-weight: bold;
}

.trending-news p {
  font-size: var(--font-small);
  color: var(--text-secondary-color);
}

.trending-news {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-btn {
  font-size: var(--font-large);
  cursor: pointer;
  border-radius: 50%;
  padding: 5px 10px;
  transition: 0.3s;
  position: relative;
}

.close-btn:hover {
  background-color: var(--border-color);
}

.users {
  display: flex;
  flex-direction: row-reverse;
}

.users img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  margin-left: -8px;
}

.trending p{
  font-size: var(--font-small);
  color: var(--text-secondary-color);
  margin: 0;
}

.trending {
  display: flex;
  width: 100%;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  justify-content: space-between;
  transition: 0.3s;
  cursor: pointer;
}

.trending:hover {
  background-color: var(--border-color);
}

.trending-label {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.trending-label p {
  font-size: var(--font-normal);
  font-weight: bold;
  color: var(--primary-color);
}

.trending-label span {
  font-size: var(--font-normal);
  font-weight: bold;
  color: var(--text-secondary-color);
  transition: 0.3s;
}

.trending-label span:hover {
  border-radius: 50%;
  /*padding: 5px 10px;*/
  background-color:  var(--accent-hover-color);
  color: var(--accent-color);
}

.more {
  width: 100%;
  cursor: pointer;
}

.more:hover {
  background-color: var(--border-color);
}

.more p {
  color: var(--accent-color);
  font-size: var(--font-normal);
}

.names {
  font-size: var(--font-normal);
  font-weight: bold;
  transition: 0.3s;
}

.names:hover {
  text-decoration: underline;
}

.user-name {
  font-size: var(--font-normal);
  color: var(--text-secondary-color);
}

.tofollow {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  align-items: center;
}

.tofollow:hover {
  background-color: var(--border-color);
}

.tofollow img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.tofollow button {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-normal);
  font-weight: bold;
  border-style: none;
  border-radius: 16px;
  padding: 4px 10px;
  transition: 0.3s;
  height: 32px;
}

.tofollow button:hover {
  opacity: 80%;
}

footer {
  font-size:var(--font-small);
  color: var(--text-secondary-color);
  max-width: 360px;
}

footer div {
  padding: 10px;
}
 
footer span:hover {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}


.post{
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

#userphoto{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.informUser{
  display: flex;
  gap:5px;
  align-items: center;
  width: 100%;
}
 
#name{
  font-size: var(--font-normal);
  font-weight: bold;
}

#username{
  color:var(--text-secondary-color);
  font-size: var(--font-normal);
}

#post-more{
  margin-left:auto;
  position: relative;
}

.post button{
   border: none;
   background: none;
}

i{
  color:var(--color-main);
}

span{
  color:var(--color-main);
}

.interac{
   display: flex;
   justify-content: space-between;
   margin-left: 0;
    align-items: center;
  flex-wrap: wrap; 
  width: 100%;
}

.load{
   padding-left: 10px;
}

.mypost p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300; 
 margin-left: 35px;
}

#postPhoto{
 margin-left: 35px;
  border-radius: 10px;
  width: 80%;
 
}

.blue:hover i, .blue:hover span {
  color: rgb(51, 51, 205);
}

.red:hover i, .red:hover span{
  color: red;
}

.green:hover i, .green:hover span{
  color: green;
}

#more,#icon7{
  position: relative;
}
    
.men,.men2{
  position: absolute;
  background-color: black;
  border: 1px solid rgb(70,70,70);
  border-radius: 10px;
  box-shadow: 0px 0 10px rgba(255,255,255,0.1);
  color: white;
}

.men{
  padding: 5px 20px 5px 0px;
  width: 120px;
  top: 100%;
  right: 0px;
}

 
.share-item{
  padding: 10px 30px 10px 3px;
}

.men2{
  width: 200px;
  height: 325px;
  padding:5px 2px 5px 0px ;
  top: 100%;
  right: 0px;
}

.share-item2{
  padding:15px 25px 5px 0px ;
  white-space: nowrap;
}

button{
  cursor: pointer;
}

.menu_for_all {
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.menu_for_all_item {
  background-color: var(--white-color);
  font-size: var(--font-normal);
  color: var(--primary-color);
  font-weight: bold;
  padding: 10px;
}

.menu_for_all_item:hover {
  background-color: var(--border-color);
  cursor: pointer;
}

.btn_chat_Grok {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--white-color);
  border-radius: 30%;
  border: 1px solid var(--text-secondary-color);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  width: 52px;
  height: 52px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 5px;
}

.btn_chat_Grok:hover {
  background-color: var(--accent-hover-color);
}

.btn-img {
  width: 5px;
  height: 5px;
  position: relative;
}

/********************************/
.feed-news {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed-news:hover {
  background-color: var(--border-color);
}

#more-blue {
  color: var(--accent-color);
}

.feed-naws-flexing {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.feed-naws-flexing p {
  margin-top: 0;
  margin-bottom: 0;
}

.two-optians {
  display: flex;
  border: 1px solid var(--accent-hover-color);
  border-top: none;
}

.tab-optian {
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  flex-grow: 1;
  text-align: center;
  font-size: var(--font-normal);
  font-weight:600;
  color: var(--text-secondary-color);
  position: relative;
  cursor: pointer;
}

.tab-optian:hover {
  background-color: var(--border-color);
}

.two-optians-active {
/*  padding-top: 3px;
  padding-bottom: 3px;
  margin: 0px;
  flex-grow: 1;
  text-align: center;
  font-size: var(--font-normal);
  position: relative;
  cursor: pointer;*/
  color: var(--primary-color);
  font-weight: bold;
} 

.two-optians-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #1d9bf0;
  border-radius: 2px;
}

.two-optians-line {
  border: none;
  height: 1px;              
  background-color: var(--accent-color);  
}

.two-optians-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: #1d9bf0;
  border-radius: 2px;
}
.two-optians-line {
  border: none;
  height: 1px;              
  background-color: var(--accent-color);  
}


.header-for-mobiles {
  display: none;
}

.profile-photo{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logo-photo {
  width: 20px;
  height: 20px; 
}

.btn-subscribe-mobile {
  font-size: var(--font-normal);
  font-weight: bold;
  border-radius: 40px;
  border: 1px solid var(--border-color);
  background-color: var(--white-color);
  padding: 8px 15px;
}

.page-label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.p-page-label {
  font-size: var(--font-large);
  font-weight: bold;
}

.main-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
}

.no-notifications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px 120px;
}

.big-no-noti {
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 0px;
}

.p-suggested {
  font-size: var(--font-large);
  font-weight: bold;
  padding-left: 20px;
}

.single-suggestion {
  padding: 0px 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
  align-items: center;
}

.single-suggestion:hover {
  background-color: var(--border-color);
}

.user-bio {
  font-size: var(--font-normal);
}

.Suggested-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Suggested-name p {
  padding: 0px;
  margin: 0px;
}

.single-suggestion img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}


.user-information {
  display: flex;
  gap: 10px;
  align-items: center;
}

.single-suggestion button {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: var(--font-normal);
  font-weight: bold;
  border-style: none;
  border-radius: 16px;
  padding: 4px 10px;
  transition: 0.3s;
  height: 32px;
}

.single-suggestion button:hover {
  opacity: 80%;
}

.no-noti {
  font-size: var(--font-normal);
  color: var(--text-secondary-color);
  font-weight: 400;
  margin: 0px;
}

.trending-search-page {
  border-top: 1px solid var(--border-color);
}

.trending-search-page .trending {
  padding: 10px;
  box-sizing: border-box;
}

/**************************Profile*******************/
.profile-container {
  display: flex;
  height: 1000px;

}

.mid-profile {
  width: 100%;
}

.profile-header { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 20px;
}

.mid-profile .tab-section {
  display: none !important;
}

.mid-profile .tab-section.active-section {
  display: block !important;
}

.centerHead {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.centerHead h3 {
  margin: 0;
}

.centerHead p {
  margin: 0;
}

#num-posts {
  color: var(--text-secondary-color);
  font-size: 12px;
}


#search-header {
 font-size:larger;
 color:var(--primary-color) ;
}

.profile-images {
   position: relative; 
} 

#large-profile {
   width:100%;
    height:200px ;
}

#small-profile { 
  position: absolute; 
  width: 25%;
  border-radius: 50%;
  bottom:-60px ;
  left:20px ; 
  border: 4px solid white;
}

.centerHead {
  display: flex;
  gap: 10px;
}

.near {
  display: flex;
  align-items: center;     
  gap: 40px;
}

#btn-edit {
  position: absolute;
  right: 20px;
  bottom: -50px;
  border: 1px solid rgb(188, 184, 184);
  padding: 10px 20px;
  background-color:white;
  border-radius: 20px;
  white-space: nowrap;
 font-weight: bold;
 font-size: 15px;
}

#verified:hover
,#btn-edit:hover {
  background-color:  var(--border-color);
  transition: 0.2s ;
}

.profile-inform {
  margin-top: 80px;
  padding-left: 15px;
 
}

#verified {   
  border: 1px solid rgb(188, 184, 184);
  background-color: white;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
  padding:2px 8px ;
}

.name-accont {
  display: flex;
  align-items: center;
  gap: 30px;
}

.follow-info {
  display: flex;
  gap: 15px;
}

.name-accont h3,
.name-accont p { 
  margin: 0;
}

.profile-tabs ul {
  padding: 0 15px 15px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
}

.profile-tabs ul a {
  text-decoration: none;
  color: var(--text-secondary-color);
  font-weight:600;
  padding: 15px;
}

.profile-tabs ul a:hover {
  background-color: var(--border-color);
}

#profile-1 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

 /*.tab-content{
  padding-left:20px ;
  padding-right:20px ;
 }*/

 .name-follow p,b {
  margin: 0;
 }

 .whatInfoFollow {
  display: flex;
  gap: 10px;
}
 
.who-follow {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

#tap-post h3 {
  padding: 10px 20px;
}

#btn-follow{
  background-color: #000000;
  color: var(--white-color);
  border-radius: 20px;
  padding: 3px 20px ;
  font-weight: bold;
}



/* Tablet */
@media (max-width: 1024px) {
  aside { display: none; }
  body { grid-template-columns: 1fr 5fr 1fr;}
} 

@media (max-width: 900px) {
  aside { display: none;}
  body { grid-template-columns: 1fr 10fr; }
}

/* Mobile */
@media (max-width: 768px) {
  aside { display: none;}
  header { display: none;}
  body { display: flex; flex-direction: column;}
  .header-for-mobiles {
    display: block;  
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 5px 20px;
  }
  
}
